
html {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}
body {
	background-color: #e9ebee;
}


/* ------------meniu ------------------*/
	ul.menu,ul.submenu{ /* resetarea spatierilor */
		margin:0px;
		padding:0px;
		text-indent:0px;
	}
	nav{
		width:100000%;
		position:sticky;
		top: 0px;	
		left: 0px;
	}
	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		
		font-size:1.2rem;
		font-weight:bold;
		height:1.2rem;
		line-height:1.2rem;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}
	ul.menu>li{
	 float:left;
	 width:14.28%;
	}
	ul.submenu>li{
	 width:100%;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:Maroon;
	}
	ul.menu>li:nth-of-type(even) a, ul.menu>li:nth-of-type(even) div{
		background:#003b6f;
	}
	ul.menu>li:nth-of-type(odd) a, ul.menu>li:nth-of-type(odd) div{
		background:royalblue;
	}

	ul.menu>li>ul.submenu{
		position:relative;
		top:0px;
	}

	ul.menu>li>ul.submenu>li
	{
		border-top:1px solid black;
	}
	ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:1px solid black;
	}

	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:yellow;
	}
	ul.menu>li:hover{
		overflow:visible;
	}
	#stickymenu{
		position:absolute;
		width:0.1%;
		/* top: 0px; */
		left: 0px;
		z-index: 500;
	}
	
	
/* ------------ imagini ------------*/
	figure {
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
	text-align: center;
	font-weight: bold;
	}
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
/* ----------- aliniere titlu --------- */
	h2{
		text-align: center;
	}
/* ------------ coloane --------------*/
	
	#coloane>section,#coloane>figure,#coloane>p,#coloane>video{
		padding: 2px;
		min-width: 250px;
		width: 100%;
		height: auto;
	}
	.column{
		float:left;
		width:50%;
	}
	div#coloane{
		border-top: 3px inset #BBB;
		display: flex;
		flex-wrap: wrap;
	}
	#coloane::after{
		content: " ";
		clear:both;
		display: table;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
	
/* -------------- footer ------------- */
	.top{	
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				width: 61%;
			}
			.c1{
				background-image: url('dw-villains.jpeg');
				background-repeat: repeat-x;
				}
			.image-responsive {
				width: 100%;
				height: auto;
			}
	@media screen and (min-width:360px) and (max-width:499px){
		p{
		width:100%;
		height: auto;
		}
		img{
		width:100%;
		height: auto;
		}
		video{
			width: 100%;
			height: auto;
		}
		header.c1{
			width: 100%;
			height: auto;
		}
		ul.menu>li{
		 width:14.28%;
		}

		ul.menu>li:hover ul.submenu{
			width:100vw;
			position:absolute;
			left:0px;
			top:1.2rem;
			border-top:1px solid magenta;
			border-bottom:1px solid black;
		}
		
		ul.menu>li:nth-of-type(even):hover ul.submenu{
				background:#003b6f;
		}
		ul.menu>li:nth-of-type(odd):hover ul.submenu{
				background:royalblue;
		}
		ul.menu>li:hover ul.submenu>li{
			float:left;
			width:14.28%;
			border:none;
		}
	}
	@media screen and (min-width:500px) and (max-width:750px){
		p{
		float:none;
		width:100%;
		}
		img{
		width:100%;
		height: auto;
		}
		video{
			width: 100%;
			height: auto;
		}
		header.c1{
			width: 100%;
			height: auto;
		}
		ul.menu>li{
		 width:14.28%;
		}

		ul.menu>li:hover ul.submenu{
			width:100vw;
			position:absolute;
			left:0px;
			top:1.2rem;
			border-top:1px solid magenta;
			border-bottom:1px solid black;
		}
		
		ul.menu>li:nth-of-type(even):hover ul.submenu{
				background:#003b6f;
		}
		ul.menu>li:nth-of-type(odd):hover ul.submenu{
				background:royalblue;
		}
		ul.menu>li:hover ul.submenu>li{
			float:left;
			width:14.28%;
			border:none;
		}
	}
	@media screen and (min-width:751px){
		p{
		float:none;
		width:100%;
		}
		img{
		width:100%;
		height: auto;
		}
		video{
			width: 100%;
			height: auto;
		}
		header.c1{
			width: 100%;
			height: auto;
		}
		
	}