th,td{
            border:1px solid black;
            padding:10px;
        }
table{
        border-collapse:collapse;
        empty-cells:show;
		margin-right: auto;
		margin-left: auto;
        }
#tresp{
	overflow-x:auto;
}
thead,tfoot{
	background-color: #a2a9b1;
}
	
.toate{
	background-color: #FFE1F1;
}
.morethanhalf{
	background-color: #FCFFB8;
}

@media screen and (min-width:350px) and (max-width:1160px){
	table{
        border-collapse:collapse;
        empty-cells:show;
		margin-right: 10px;
		margin-left: 10px;
        }
}
@media screen and (min-width:350px) and (max-width:499px){
th,td{
           font-size: 1.25rem;
        }
}