
html {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
	min-height: 100%;
	background-image: url('cssimages/Tardis.png');
}
h1, aside{
	padding-left:1.5vw;
}
.custompadding{
	padding-left:1.5vw;
	padding-right:1.5vw;
	padding-bottom: 1.5vw;
}

/* ------------meniu ------------------*/
	ul.menu,ul.submenu{ /* resetarea spatierilor */
		margin:0%;
		padding:0%;
		text-indent:0%;
	}
	nav{
		width:100000%;
		position:sticky;
		top: 0%;	
		left: 0%;
	}
	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		font-size:1.8rem;
		font-weight:bold;
		height:2rem;
		line-height:2rem;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}
	ul.menu>li{
	 float:left;
	 width:16.66%;
	}
	ul.submenu>li{
	 width:100%;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:MintCream;
	}
	ul.menu>li:nth-of-type(even) a, ul.menu>li:nth-of-type(even) div{
		background:#003b6f;
	}
	ul.menu>li:nth-of-type(odd) a, ul.menu>li:nth-of-type(odd) div{
		background:royalblue;
	}

	ul.menu>li>ul.submenu{
		position:relative;
		top:0%;
	}

	ul.menu>li>ul.submenu>li
	{
		border-top:1px solid black;
	}
	ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:1px solid black;
	}

	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:DodgerBlue;
	}
	ul.menu>li:hover{
		overflow:visible;
	}
	#stickymenu{
		position:absolute;
		width:0.1%;
		left: 0%;
		z-index: 500;
	}
	
	
/* ------------ imagini ------------*/
	figure{
    display: inline-block;
    border: 1px solid black;
	text-align: center;
	font-weight: bold;
	}
	.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
/* ----------- aliniere titlu --------- */
	h2{
		text-align: center;
	}
/* ------------ coloane --------------*/
	
	#coloane>section,#coloane>figure,#coloane>p,#coloane>video{
		min-width: 250px;
		width: 100%;
		height: auto;
	}
	#coloane2>section,#coloane2>figure,#coloane2>p,#coloane2>video{
		padding: 1.5vw;
		min-width: 250px;
		width: 100%;
		height: auto;
	}
	.column{
		width:50%;
		padding-left: 1.5vw;
		padding-right: 1.5vw;
		box-sizing: border-box;
	}
	div#coloane{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-bottom: 0.5vw;
	}
	div#coloane2{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	main{
		padding-left: 10%;
		padding-right: 10%;
	}
	.greybck{
		background-color: #e9ebee;
	}
	
/* -------------- footer and header ------------- */
	.top{	
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				width: 61%;
			}
	header{
		background-image: url('cssimages/dw-villains.jpeg');
		background-repeat: repeat;
		}
	.image-responsive{
		width: 100%;
		height: auto;
	}
	.alwaystop{
		font-weight: bold;
		float:none;
		text-align: center;
		font-size: 1.5em;
	}
/* -------------- facebook, twitter, instagram, youtube ----------- */
			.socialmedia{
				display: flex;
				justify-content: center;
				padding-top: 0.5vw;
				padding-bottom: 0.5vw;
			}
			.fa {
			  padding: 20px;
			  font-size: 30px;
			  width: 25px;
			  text-align: center;
			  text-decoration: none;
			  border-radius: 50%;
			}
			.fa:hover {
			  opacity: 0.7;
			  box-shadow: 0px 0px 15px 5px #F8F8FF;
			}
			/* Facebook */
			.fa-facebook {
			  background: #3B5998;
			  color: white;
			}
			/* Twitter */
			.fa-twitter {
				background: #55ACEE;
				color: white;
			}
			.fa-youtube {
				background: #bb0000;
				color: white;
			}
			.fa-instagram {
				background: #125688;
				color: white;
			}
			.fa-github{
				background: #24292e;
				color: white;
			}
/* ----------- responsive general ---------- */
		p{
			float:none;
			width:100%;
		}
		img{
			width:100%;
			height: auto;
		}
		audio{
			width: 100%;
		}
		video{
			width: 100%;
			height: auto;
		}
		header{
			width: 100%;
			height: auto;
		}
		h1{ 
			margin-top:2rem;
		}
		
		
		
		